<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/edit.css}"/>
    <title>Warsztat 1</title>
</head>
<body>

<div id="content">
    <div id="odstpet"></div>
    <div id="baner">
        <a th:href="@{/login}">
            <div id="logo">
                <div id="logo_text">
                    Warsztat
                </div>
                <div id="logo_text2">
                    Fix your car
                </div>
            </div>
        </a>

        <a th:href="@{/logout}">
            <div id="wyloguj"><i class="fas fa-power-off"></i>Wyloguj</div>
        </a>
    </div>
    <div id="menu">
        <ul>
            <li><a th:href="@{/login}">Strona główna</a></li>
            <li style="float:right;">
                <div class="daned"><span th:text="${session.login}"></span>
                </div>

            </li>
        </ul>
    </div>
    <div id="tresc">
        <div class="odstepgora"></div>
        <div id="tekstkonto">Edycja</div>
        <div id="infokonto">

            <input type="hidden" th:value="${id_naprawy}" name="id_naprawy"/>

            <div class="odstepgora"></div>
            <div id="model" th:text="${'Model: ' + model}"></div>
            <div id="marka" th:text="${'Marka: ' + marka}"></div>
            <div id="rok_produkcji" th:text="${'Rok produkcji: ' + rok_produkcji}"></div>
            <div id="opis_usterki" th:text="${'Opis usterki: ' + opis_usterki}"></div>
            <div class="odstepgora"></div>

            <form action="#" th:action="@{/update}" method="post">
                <input type="hidden" th:value="${id_naprawy}" name="id_naprawy"/>



                <div id="opis_naprawy">Opis naprawy: <textarea  th:text="${opis_naprawy}" name="opis_naprawy" rows="4" cols="30"></textarea></div>

                <div id="stan_naprawy">Stan naprawy: <input type="text" th:value="${stan_naprawy}" name="stan_naprawy"/></div>

                <div class="odstepgora"></div>

                <div id="planowany_poczatek_naprawy">Planowany poczatek naprawy: <input type="date" th:value="${planowany_poczatek_naprawy}" name="planowany_poczatek_naprawy"/></div>

                <div id="planowany_koniec_naprawy">Planowany koniec naprawy: <input type="date" th:value="${planowany_koniec_naprawy}" name="planowany_koniec_naprawy"/></div>

                <div class="odstepgora"></div>

                <div id="edycja"><input type="submit" value="Edytuj" name="edytuj"></div>
            </form>

            <div class="odstepgora"></div>

            <form action="#" th:action="@{/parts}" method="post">
                <input type="hidden" th:value="${id_naprawy}" name="id_naprawy"/>
                <div id="parts"><input type="submit" value="Dodaj części" /></div>
            </form>





        </div>
    </div>
    <div id="stopka">
        STOPKA COPYRAJT @ NIE MOJE
    </div>
</div>
</body>
</html>